<html>
    <head>
        <title>Add Ques</title>
        <link rel="stylesheet" href="../assets/styles/output.css">
        <script src="https://kit.fontawesome.com/38b951bfd3.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-blue-50">
        <div>
            <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <section class="w-[50%] sm:w-full shadow-xl shadow-gray-300 rounded-lg m-auto p-4 sm:mt-10 mt-28">
          <h1 class="text-3xl font-bold text-blue-600 text-center">Question Details</h1>
            <form class="" action="/addques" method="post">
                <div>
                    <span class="font-bold text-2xl">Question name: </span>
                    <div>
                        <input type="text" class=" w-[100%] border-2 p-2 border-gray-600 rounded-xl h-10" name="question">
                    </div>
                </div>
                <div>
                    <span class="font-bold text-2xl">Description: </span>
                    <div>
                        <textarea name="description" rows="3" class="w-[100%] border-2 p-2 border-gray-600 rounded-xl "></textarea>
                    </div>
                </div>
                <div>
                    <span class="font-bold text-2xl">Question Points : </span>
                    <div>
                        <input name="questionpoints" type="number" class="w-[100%] border-2 p-2 border-gray-600 rounded-xl ">
                    </div>
                </div>
                <div>
                    <span class="font-bold text-2xl">Sample Input 1: </span>
                    <div>
                        <span>Input</span>
                        <div>
                            <textarea name="input" rows="3" class="w-[100%] border-2 p-2 border-gray-600 rounded-xl "></textarea>
                        </div>
                    </div>
                    <div>
                        <span>Output</span>
                        <div>
                            <textarea name="output" rows="2" class="w-[100%] border-2 p-2 border-gray-600 rounded-xl "></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <span class="font-bold text-2xl">Sample Input 2:</span>
                    <div>
                        <span>Input</span>
                        <div>
                            <textarea name="input" rows="3" class="w-[100%] border-2 p-2 border-gray-600 rounded-xl "></textarea>
                        </div>
                    </div>
                    <div>
                        <span>Output</span>
                        <div>
                            <textarea name="output" rows="2" class="w-[100%] border-2 p-2 border-gray-600 rounded-xl "></textarea>
                        </div>
                    </div> 
                </div>
                <div>
                    <span class="font-bold text-2xl">Defaultcode: </span>
                    <div>
                        <textarea name="defaultcode" rows="20" class="w-[100%] border-2 p-2 border-gray-600 rounded-xl "></textarea>
                    </div>
                </div>
                <div class="m-auto mt-2 ml-36">
                    <button class="p-2 bg-blue-400 rounded-md"  type="Submit"> Add</button>
                </div>
        </form>
    </section>
    </body>
    </html>