<html>
    <head>
        <title>add test case</title>
        <link rel="stylesheet" href="../assets/styles/output.css">
        <script src="https://kit.fontawesome.com/38b951bfd3.js" crossorigin="anonymous"></script>
    </head>
    <body class="p-4">
        <div class="w-full p-2 bg-blue-300 mb-2">
            <a href="/"><i class=" my-2 fa-solid fa-arrow-left-long"></i></a>
        </div>
        <div class="">
            <span class="font-bold">Question id: </span>
            <input type="text" class="id" value="<%= question._id %>"> 
            <h1 class="font-bold"> Question : <%= question.question %></h1>
        </div>
        <div class="mt-5"> 
            <label for="nooftestcase">Enter no of test cases : </label>
            <input id="nooftestcase" required class="p-1 nooftestcase border border-black" type="number">
            <button class="add bg-blue-600 rounded-md text-white p-1">enter</button>
        </div>
        
        <div class="testcases flex flex-col gap-4"></div>

        <script src="../assets/scripts/addtestcase.js"></script>
    </body>
</html>