<html>
    <head>
        <title>Codemon-Compiler</title>
        <link rel="stylesheet" href="../assets/styles/output.css">
        <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
        <script language="c++" type="text/x-c++src" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/c++/c++.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/codemirror.min.css"/> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/theme/neo.min.css">
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/mode/javascript/javascript.js"></script>   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/mode/css/css.js"></script>  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.1/mode/htmlmixed/htmlmixed.min.js"></script>  
         
         
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"></link>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/abbott.min.css"></link>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/neo.min.css"></link>
        <script src="https://kit.fontawesome.com/38b951bfd3.js" crossorigin="anonymous"></script>
     
    </head>
    <body class=" bg-yellow-300 p-2">
        <div id="loader" class=" w-[100%] h-[100vh] fixed z-50 items-center justify-center bg-black">
            <div class="m-auto mt-24">
                <img src="../assets/preloaders/giphy.gif" class="m-auto" alt="preloader">
            </div>
        </div>
        <div class="w-full p-2 bg-blue-300">
            <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <div class="flex sm:flex-col ">
            <div class="w-[50%] sm:w-full mt-5">
                <div>
                    <span class="text-3xl font-bold">Write Your Code Here</span>
                </div>
                   
                <div class=" border-[0.8rem] h-auto rounded-md border-[#333] mt-2">
                        <textarea rows="22" name="code" id="codebox" spellcheck="false"  autofocus class=" whitespace-pre-line min-h-[20rem] code w-full p-4 outline-none resize-none  active:border-transparent">#include<bits/stdc++.h>
using namespace std;
int main()
{
         freopen("input.txt","r",stdin);
         freopen("output.txt","w",stdout);
        //do not remove above lines to avoid code failure
        //Write your code here      
        cout<<"Hello World"; 
}
                            </textarea>
                </div>
            </div>
            <div class="flex flex-col mt-4 sm:w-full w-[50%]">
                <div class=" w-full float-right mt-2 flex gap-6 justify-center">
                    <button   class="run px-4 hover:shadow-lg hover:scale-105 transform transition duration-300 rounded-md  py-2 bg-blue-400">Run</button>
                    <button class=" p-2 savebtn hover:shadow-lg hover:scale-105 transform transition duration-300 rounded-md bg-red-600 text-white">Save Code</button>
                </div>
                <div class="w-[80%]  rounded-xl bg-white h-auto p-4 mt-10 m-auto border-2 border-black shadow-sm ">
                    <span class=" w-full font-bold text-left">INPUT:</span>
                    <div class=" w-[90%]">
                        <textarea rows="6" spellcheck="false" class=" p-2 input resize-none outline-none w-full  whitespace-pre-wrap "></textarea>
                    </div>
                </div>
                <div class="w-[80%]  rounded-xl bg-white h-auto p-4 mt-10 m-auto border-2 border-black shadow-sm ">
                    <span class=" w-full font-bold text-left">OUTPUT:</span>
                    <div class=" w-[90%]">
                        <textarea rows="10" spellcheck="false" class=" p-2  output resize-none outline-none w-full  whitespace-pre-wrap "></textarea>
                    </div>
                </div>
            </div>
        </div>
        <script src="../assets/scripts/compiler.js"></script>    
    </body>
</html>